{% extends "bootstrap/base.html" %}

{% block title %}Call{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

            </button>
            <a class="navbar-brand" href="/">Call</a>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    {% block page_content %}
        {% block left_nav %}
        <div class="col-md-3">
            <div class="page-header">
                <ul class="nav nav-list">
                    <li >
                        Dashboard
                    </li>
                    <li >
                        <a href="#">My Phone Number</a>
                    </li>
                    <li>
                        <a href="{{ url_for('controller.listCall') }}" class="active">My Wakeup Call</a>
                    </li>
                    <li>
                        <a href="#">My Credits</a>
                    </li>
                </ul>
            </div>
		</div>
        {% endblock %}

    {% endblock %}

</div>

{% endblock %}