{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Mrs Reminder{% endblock %}
{% block page_content %}



    <div class="row">
		<div class="col-md-3">
            <div class="page-header">
                <ul class="nav nav-list">
                    <li >
                        Dashboard
                    </li>
                    <li >
                        <a href="#">My Phone Number</a>
                    </li>
                    <li>
                        <a href="#" class="active">My Wakeup Call</a>
                    </li>
                    <li>
                        <a href="#">My Credits</a>
                    </li>
                </ul>
            </div>
		</div>

        <div class="col-md-9">

            <div class="page-header">
                <h1>
                    {% if current_user.is_authenticated %}
                        Hello,{{ current_user.username }}
                    {% else %}Dashboard

                    {% endif %}!
                </h1>
            </div>
            <div>{% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            <form action="" method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group  required"><label class="control-label" for="name">Caller Name:</label>
                    <input class="form-control" id="name" name="name" required type="text" value="a">
                </div>

                <div class="form-group "><label class="control-label" for="time">Call Time:</label>
                    <input class="form-control" id="time" name="time" type="text" value="2017-02-09 15:00:00">
                </div>

                <div class="form-group  required"><label class="control-label" for="number">Call Phone Numbers:</label>
                    <input class="form-control" id="number" name="number" required type="text" value="+19095590969">
                </div>

                <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
    {% endblock %}