{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Mrs Reminder{% endblock %}
    {%- block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='time/bootstrap-datetimepicker.min.css') }}" />


    {% endblock styles %}

{% block page_content %}



    <div class="row">
		{% block left_nav %}
           {{ super() }}
        {% endblock %}

        <div class="col-md-9">

            <div class="page-header">
                <h1>
                    {% if current_user.is_authenticated %}
                        Edit
                    {% else %}Dashboard

                    {% endif %}
                </h1>
            </div>
            <div>{% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            <form method="post" class="form" role="form">
                    {{ form.hidden_tag() }}
                <div class="form-group  required">
                    <label class="control-label" for="name">Caller Name:</label>
                    <input type='text' required class="form-control" id="name" name="name" value="{{ my.call_name }}" />
                </div>

                <div class="form-group ">
                    <label class="control-label">Call Time:</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id="time" name="time" class="form-control" value="{{ my.call_time }}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group  required"><label class="control-label" for="number">Call Phone Numbers:</label>
                    <input type='text' required class="form-control" id="number" name="number" value="{{ my.number_called }}" />
                </div>

                <input class="btn btn-default" id="submit" name="submit" type="submit" value="Update">
            </form>

        </div>



    </div>
    {% endblock %}

    {% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='time/bootstrap-datetimepicker.min.js') }}"></script>
       <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
            document.getElementById('name').focus();
        </script>
{%- endblock scripts %}f